<%- include('header') %>


    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="img/blog/<%=category%>.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3><%= article.title %></h3>
                        <ul>
                            <li>by <%= article.author %></li>
                            <li><%=article.date%></li>
                            <li><%=article.topic%></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                        </div>
                        <div class="blog-details-pic">
                            <div class="blog-details-pic-item">
                                <img src="data:image/jpeg;base64,<%=img1[0]%>" alt="">
                            </div>
                            <div class="blog-details-pic-item">
                                <img src="data:image/jpeg;base64,<%=img1[1]%>" alt="">
                            </div>
                        </div>
                        <div class="blog-details-desc">
                            <p><%=article.article%>;</p>
                        </div>
                        <div class="blog-details-quote">
                            <div class="quote-icon">
                                <img src="img/blog/details/quote-left.png" alt="">
                            </div>
                            <h5>The whole family of tiny legumes, whether red, green, yellow, or black, offers so many
                                possibilities to create an exciting lunch.</h5>
                            <span>MEIKE PETERS</span>
                        </div>
                        <div class="blog-details-more-desc">
                        </div>
                        <div class="blog-details-author">
                            <div class="ba-pic">
                                <img src="data:image/jpeg;base64,<%=img%>" alt="">
                            </div>
                            <div class="ba-text">
                                <h5><%=member.profile.name%></h5>
                                <ul>
                                    <li><strong style="color: orangered;">Batch : </strong><strong style="color: white;"><%= member.profile.batch %></strong></li>
                                    <li><strong style="color: orangered;">Subteam : </strong><strong style="color: white;"><%= member.profile.subteam %></strong></li>
                                    <li><strong style="color: orangered;">Skill : </strong><strong style="color: white;"><%= member.profile.skill %></strong></li>
                                </ul>
                                <div class="bp-social">
                                    <a href="<%= member.profile.facebook %>"><i class="fa fa-facebook"></i></a>
                                    <a href="<%= member.profile.github %>"><i class="fa fa-github"></i></a>
                                    <a href="<%= member.profile.instagram %>"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <%- include('footer') %>